.card-detalle-producto {
  border-bottom: 1px solid #ffa4a4;
  border-radius: 0.4em;
  background-color: #fff0f0;
}

.card-new-envio {
  padding: 0.5em;
  border-radius: 0.5em;
  border: #cacaca solid 1px;
  cursor: pointer;
  color: rgb(73, 73, 73) !important;

}

.Mui-active {
  color: #e73f3f !important;
}
.Mui-completed {
  color: #89e472 !important;
}

.card-new-envio:hover {
  padding: 0.5em;
  border-radius: 0.4em;
  border: #c0c0c0 solid 1px;
  cursor: pointer;
  background-color: #e9e9e92c;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

  transition: all 120ms;
}

.card-new-envio-selected {
  padding: 0.4em;
  border-radius: 0.5em;
  border: #ef5c5e solid 1px;
  cursor: pointer;
  background-color: #ffe2e2;
  color: #e40f3d !important;
  box-shadow: rgba(214, 3, 38, 0.3) 0px 0px 2px 3px;
  transition: all 0.4s;
}

/* CSS */
.button-6 {
  align-items: center;
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.button-6:hover,
.button-6:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}

.button-6:hover {
  transform: translateY(-1px);
}

.button-6:active {
  background-color: #F0F0F1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}