.card-detalle-producto {
  border: 1px solid #ffa4a4;
  border-radius: 0.6em;
  background-color: #fff0f0;
}

.card-new-envio {
  padding: 0.5em;
  border-radius: 0.6em;
  border: #ffc6c6 solid 1px;
  cursor: pointer;
  color: rgb(252, 75, 75) !important;

}

.card-new-envio:hover {
  padding: 0.5em;
  border-radius: 0.6em;
  border: #f5bbbb solid 1px;
  cursor: pointer;
  background-color: #ffd0d089;

}

.card-new-envio-selected {
  padding: 0.5em;
  border-radius: 0.9em;
  border: #ef5c5e solid 2px;
  cursor: pointer;
  background-color: #ffe2e2;
 
  color: #e40f3d !important;
}