.form-control,
.form-select {
    border-color: #bababa;
    border-radius: 0.6em;
    padding: 0.6em 0.6em !important;
    color: #535353;

}

.form-control::placeholder {
    color: rgb(201, 201, 201);
    font-weight: lighter;
}

.form-control:focus,
.form-select:focus {
    color: #ff2828;

    background-color: rgb(255, 255, 255);
    border-color: #ff9f9f;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px !important;
}

.text-muted-error {
    color: #ff2828;
}

.label-ame {
    color: #ff5a5a !important;
}