.form-control,.form-select {
    background-color: #ececff;
    border-color: #a8b2ff;
    border-radius: 0.9em;
    padding: 0.6em 0.9em !important;
    color: #979dff;
}

.form-control:focus, .form-select:focus {
    color: #6065ff;

    background-color: rgb(255, 255, 255);
    border-color: #ac9fff;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px !important;
}

.text-muted-error{
    color: #ff2828;
}
.label-ame{
    color: #6065ff !important;
}