.contenedor-carrito-items {
    border: 1px solid #ffadad;
    border-radius: 0.6em;
}

.card-carrito-producto {
    border-radius: 0.6em;
    border-color: #ffb7b9;
    background-color: #ffeeee;
}
.card-carrito-producto:hover {
    border-color: #ff979b;
    background-color: #ffdbdb;
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
}

.btn-success-carrito {
    border: none;
    background: rgb(49, 53, 88);
    background: linear-gradient(90deg, rgba(40, 218, 27, 0.349) 0%, rgba(10, 173, 83, 0.623) 100%);
}

.btn-success-carrito:hover {
    background: rgb(49, 53, 88);
    background: linear-gradient(-90deg, rgba(40, 218, 27, 0.349) 0%, rgba(10, 173, 83, 0.623) 100%);
    transition: 0.7s;
}